body {
    min-width: 200px;
    background-color: #ccc
}

button {
    border-radius: 4px;
    width:100%;
    background-color: grey;

    color:white;
}

.input-div {
    display: flex;
    justify-content: space-between;
    width:100%;
}

input {
    width:100%;
}

.enabled {
    background-color: green;
}

.disabled {
    background-color: red;
}

.row {
    min-width: 500px;
    display: flex;
}

.column {
    flex: 50%;
}

.button-container {
  display: flex;
}